## Importing libraries

In [1]:
import pandas as pd
import numpy as np

## Results importing

In [2]:
results = pd.read_csv("results - word vectorization.csv")

results_idf = pd.read_csv("results - word vectorization - IDF.csv")

results_pos = pd.read_csv("results - word vectorization - POS.csv")

## Showing results

In [3]:
results.head(60)

,arithmetics,questions modification,metric,average sentence rank,accuracy [%],average execution time [s]
0,sum,light,euclidean,12642,66.67,0.0375
1,sum,light,manhattan,7328,85.71,0.0375
2,sum,light,cosine,5276,80.95,0.0375
3,mean,light,euclidean,7756,80.95,0.0217
4,mean,light,manhattan,6101,80.95,0.0217
5,mean,light,cosine,5276,80.95,0.0217
6,sum,medium,euclidean,271,57.14,0.0201
7,sum,medium,manhattan,342,66.67,0.0201
8,sum,medium,cosine,1676,66.67,0.0201
9,mean,medium,euclidean,1579,61.90,0.0274
10,mean,medium,manhattan,1806,61.90,0.0274
11,mean,medium,cosine,1676,66.67,0.0274
12,sum,heavy,euclidean,10887,19.05,0.0288
13,sum,heavy,manhattan,4722,23.81,0.0288
14,sum,heavy,cosine,2756,38.10,0.0288
15,mean,heavy,euclidean,1767,42.86,0.0285
16,mean,heavy,manhattan,804,42.86,0.0285
17,mean,heavy,cosine,2756,38.10,0.0285

## Showing results with IDF

In [4]:
results_idf.head(60)

,arithmetics,questions modification,metric,average sentence rank,accuracy [%],average execution time [s]
0,sum,light,euclidean,18858,71.43,0.0262
1,sum,light,manhattan,13470,71.43,0.0262
2,sum,light,cosine,17096,71.43,0.0262
3,mean,light,euclidean,13848,71.43,0.0218
4,mean,light,manhattan,17390,71.43,0.0218
5,mean,light,cosine,17096,71.43,0.0218
6,sum,medium,euclidean,5100,47.62,0.0206
7,sum,medium,manhattan,2964,57.14,0.0206
8,sum,medium,cosine,9428,52.38,0.0206
9,mean,medium,euclidean,6660,57.14,0.0205
10,mean,medium,manhattan,6813,61.90,0.0205
11,mean,medium,cosine,9428,52.38,0.0205
12,sum,heavy,euclidean,18514,23.81,0.0214
13,sum,heavy,manhattan,11146,33.33,0.0214
14,sum,heavy,cosine,16731,33.33,0.0214
15,mean,heavy,euclidean,13662,38.10,0.0206
16,mean,heavy,manhattan,16042,42.86,0.0206
17,mean,heavy,cosine,16731,33.33,0.0206

## Showing results with POS

In [5]:
results_pos.head(60)

,arithmetics,questions modification,metric,average sentence rank,accuracy [%],average execution time [s]
0,sum,light,euclidean,11628,80.95,0.0343
1,sum,light,manhattan,924,80.95,0.0343
2,sum,light,cosine,490,80.95,0.0343
3,mean,light,euclidean,931,85.71,0.0359
4,mean,light,manhattan,489,80.95,0.0359
5,mean,light,cosine,490,80.95,0.0359
6,sum,medium,euclidean,96,57.14,0.0339
7,sum,medium,manhattan,48,66.67,0.0339
8,sum,medium,cosine,52,66.67,0.0339
9,mean,medium,euclidean,110,57.14,0.0342
10,mean,medium,manhattan,48,76.19,0.0342
11,mean,medium,cosine,52,66.67,0.0342
12,sum,heavy,euclidean,5169,42.86,0.0342
13,sum,heavy,manhattan,134,57.14,0.0342
14,sum,heavy,cosine,82,61.90,0.0342
15,mean,heavy,euclidean,72,52.38,0.0331
16,mean,heavy,manhattan,67,52.38,0.0331
17,mean,heavy,cosine,82,61.90,0.0331

## Comparison of results by arithmetics

In [6]:
results_arithmetics = results.drop(columns=["questions modification", "metric"])

results_arithmetics_grouped = results_arithmetics.groupby(["arithmetics"]).mean()

results_arithmetics_grouped = results_arithmetics_grouped.round({"accuracy [%]": 2, "average execution time [s]": 4})
results_arithmetics_grouped["average sentence rank"] = results_arithmetics_grouped["average sentence rank"].astype(int)


results_arithmetics_grouped.head()

             average sentence rank  accuracy [%]  average execution time [s]
arithmetics
mean                          3280         61.90                      0.0259
sum                           5100         56.09                      0.0288

## Comparison of results with IDF by arithmetics

In [7]:
results_arithmetics = results_idf.drop(columns=["questions modification", "metric"])

results_arithmetics_grouped = results_arithmetics.groupby(["arithmetics"]).mean()

results_arithmetics_grouped = results_arithmetics_grouped.round({"accuracy [%]": 2, "average execution time [s]": 4})
results_arithmetics_grouped["average sentence rank"] = results_arithmetics_grouped["average sentence rank"].astype(int)


results_arithmetics_grouped.head()

             average sentence rank  accuracy [%]  average execution time [s]
arithmetics
mean                         13074         55.56                      0.0210
sum                          12589         51.32                      0.0227

## Comparison of results with POS by arithmetics

In [8]:
results_arithmetics = results_pos.drop(columns=["questions modification", "metric"])

results_arithmetics_grouped = results_arithmetics.groupby(["arithmetics"]).mean()

results_arithmetics_grouped = results_arithmetics_grouped.round({"accuracy [%]": 2, "average execution time [s]": 4})
results_arithmetics_grouped["average sentence rank"] = results_arithmetics_grouped["average sentence rank"].astype(int)


results_arithmetics_grouped.head()

             average sentence rank  accuracy [%]  average execution time [s]
arithmetics
mean                           260         68.25                      0.0344
sum                           2069         66.14                      0.0341

## Comparison of results by questions modification

In [9]:
results_questions_modification = results.drop(columns=["arithmetics", "metric"])

results_questions_modification_grouped = results_questions_modification.groupby(["questions modification"]).mean()

results_questions_modification_grouped = results_questions_modification_grouped.round({"accuracy [%]": 2, "average execution time [s]": 4})
results_questions_modification_grouped["average sentence rank"] = results_questions_modification_grouped["average sentence rank"].astype(int)

results_questions_modification_grouped.head()

,average sentence rank,accuracy [%],average execution time [s]
questions modification,,,
heavy,3948,34.13,0.0286
light,7396,79.36,0.0296
medium,1225,63.49,0.0238

## Comparison of results with IDF by questions modification

In [10]:
results_questions_modification = results_idf.drop(columns=["arithmetics", "metric"])

results_questions_modification_grouped = results_questions_modification.groupby(["questions modification"]).mean()

results_questions_modification_grouped = results_questions_modification_grouped.round({"accuracy [%]": 2, "average execution time [s]": 4})
results_questions_modification_grouped["average sentence rank"] = results_questions_modification_grouped["average sentence rank"].astype(int)

results_questions_modification_grouped.head()

,average sentence rank,accuracy [%],average execution time [s]
questions modification,,,
heavy,15471,34.13,0.0210
light,16293,71.43,0.0240
medium,6732,54.76,0.0206

## Comparison of results with POS by questions modification

In [11]:
results_questions_modification = results_pos.drop(columns=["arithmetics", "metric"])

results_questions_modification_grouped = results_questions_modification.groupby(["questions modification"]).mean()

results_questions_modification_grouped = results_questions_modification_grouped.round({"accuracy [%]": 2, "average execution time [s]": 4})
results_questions_modification_grouped["average sentence rank"] = results_questions_modification_grouped["average sentence rank"].astype(int)

results_questions_modification_grouped.head()

,average sentence rank,accuracy [%],average execution time [s]
questions modification,,,
heavy,934,54.76,0.0336
light,2492,81.74,0.0351
medium,67,65.08,0.0341

## Comparison of results by metric

In [12]:
results_metric = results.drop(columns=["arithmetics", "questions modification"])

results_metric_grouped = results_metric.groupby(["metric"]).mean()

results_metric_grouped = results_metric_grouped.round({"accuracy [%]": 2, "average execution time [s]": 4})
results_metric_grouped["average sentence rank"] = results_metric_grouped["average sentence rank"].astype(int)

results_metric_grouped.head()

           average sentence rank  accuracy [%]  average execution time [s]
metric
cosine                      3236         61.91                      0.0273
euclidean                   5817         54.76                      0.0273
manhattan                   3517         60.32                      0.0273

## Comparison of results with IDF by metric

In [13]:
results_metric = results_idf.drop(columns=["arithmetics", "questions modification"])

results_metric_grouped = results_metric.groupby(["metric"]).mean()

results_metric_grouped = results_metric_grouped.round({"accuracy [%]": 2, "average execution time [s]": 4})
results_metric_grouped["average sentence rank"] = results_metric_grouped["average sentence rank"].astype(int)

results_metric_grouped.head()

           average sentence rank  accuracy [%]  average execution time [s]
metric
cosine                     14418         52.38                      0.0218
euclidean                  12773         51.59                      0.0218
manhattan                  11304         56.35                      0.0218

## Comparison of results with POS by metric

In [14]:
results_metric = results_pos.drop(columns=["arithmetics", "questions modification"])

results_metric_grouped = results_metric.groupby(["metric"]).mean()

results_metric_grouped = results_metric_grouped.round({"accuracy [%]": 2, "average execution time [s]": 4})
results_metric_grouped["average sentence rank"] = results_metric_grouped["average sentence rank"].astype(int)

results_metric_grouped.head()

           average sentence rank  accuracy [%]  average execution time [s]
metric
cosine                       208         69.84                      0.0343
euclidean                   3001         62.70                      0.0343
manhattan                    285         69.05                      0.0343

## Comparison of results by method

In [15]:
results.insert(0, "method",pd.Series(['/' for x in range(len(results.index))]))
results_idf.insert(0, "method", pd.Series(["IDF" for x in range(len(results_idf.index))]))
results_pos.insert(0, "method", pd.Series(["POS" for x in range(len(results_pos.index))]))

results_total = pd.concat([results, results_idf, results_pos], axis=0)

results_method = results_total.drop(columns=["arithmetics", "questions modification", "metric"])

results_method_grouped = results_method.groupby(["method"]).mean()

results_method_grouped = results_method_grouped.round({"accuracy [%]": 2, "average execution time [s]": 4})
results_method_grouped["average sentence rank"] = results_method_grouped["average sentence rank"].astype(int)

results_method_grouped.head()

        average sentence rank  accuracy [%]  average execution time [s]
method
/                        4190         59.00                      0.0273
IDF                     12832         53.44                      0.0218
POS                      1164         67.19                      0.0343